body{
	background-color: #ffffff;
	width: 100%;
}
header{
	background-color: #ffffff;
	position: fixed;
	height: 57px;
	width: 100%;
	top:0;
	border-bottom: 0 solid #ffffff;
	box-shadow: 2px 0  3px #888888;
	z-index: 200;
}
section{
	width: 68%;
}
.container{
	margin: 75px 0 5px 10px;
	width: 98%;
}
iframe{
	width: 100%;
}
.video_info{
	width: 98%;
}
.video_info img{
	width: 100%;
	height: ;
}
figcaption{
	height: 50px;
	line-height: 50px;
	font-size: 1.5rem;
}
aside{
	position: absolute;
	top: 75px;
	right: 0;
	width:30%;
}
li{
	margin: 10px 4px 10px 1px;
}
ul first-child{
	background-color: red;
}
.info_of_video{
	position: absolute;
	display: inline-block;
	width: 50%;
	left: 175px;
}
h3{
	font-size: 120%;
	margin-bottom: 10px;
	color: black;
	font-weight: 500;
    font-family:Arial, sans-serif;
}
.Channel_name{
	line-height: 30px;
}
.Channel_name,.Views{
	color: #bbbbbb;
	font-size: 90%;
}
.icon{
	position: absolute;
	left:2%;
	top: 5px;
}
.logo{
	position: absolute;
	left: 7%;
	top: 15px;
}
.Search{
	position: absolute;
	display: inline-block;
	left: 20%;
	top: 10px;
	line-height: 30px;
	width: 50%;
	height: 32px;
	padding: 0;
	border:1px solid #e7e7e7; 
}
.search_box{
	display: inline-block;
	margin:0;
	line-height: 30px;
	width: 90%;
	height: 30px;
	border-radius: 0;
	border-width: 0;
	font-size: 20px;
}
.search_box:focus{
	border-width: 0;
	border:0;
	outline-width: 0; 
}
.Search_button{
	margin: 0;
	width: 9.5%;
	height: 32px;
	float: right;
}
.Upload{
	position: absolute;
	right: 15%;
	top: 15px;
}
.bell{
	position: absolute;
	right: 7%;
	top: 15px;
}
.Box{
	position: absolute;
	right: 11%;
	top: 15px;
}
.user{
	position: absolute;
	right: 1%;
	top: 8px;
	border-radius: 50px;
}
.Show_more{
	background-color: #dedede;
	width: 98%;
	height: 35px;
	margin-bottom: 10px;
	border-radius: 3px;
	text-align: center;
	line-height: 33px;
	font-family:Arial, sans-serif;
	color: #827e7e;
}
.user_pic{
	width: 50px;
}
.user-pic{
		position: absolute;
	top: 40px;
	left: 1%;
}
.comment_box{
	position: relative;
	/*border: 2px solid black;*/
	height: 130px;
	border-bottom: 1px solid #dedede;
	left:1%;
	width: 98%;
}
.Comments{
	/*border: 2px solid black;*/
}
.text_area{
	position: absolute;
	width: 91%;
	height: 40px;
	resize: none;
	top: 40px;
	left: 8%;
}
.cancel,.comment_button{
		display: inline-block;
		position: absolute;
		width: 12%;
		height: 30px;
		border:1px solid #efefef;
		background-color:#005ea0;
		bottom: 5px;
		border-radius: 4px;
		text-align: center;
		line-height: 30px;
		color: #ffffff;
		font-family:Arial, sans-serif;
	}
.cancel{
	right: 14%;
}
.comment_button{
	right: 0%;
}
.cancel:hover,.comment_buttob:hover{
	color: #e0e0e0;
}
p{
	font-family:Arial, sans-serif;
	margin-left: 5px;
}
h4{
    font-family:Arial, sans-serif;
    display: inline-block;
    margin-right: 5px;
    font-family:Arial, sans-serif;
}
.user_comment{
	position: absolute;
	display: inline-block;
	font-family:Arial, sans-serif;
	font-size: 80%;
	margin-top: 10px;
}
.Time{
	color: #a0a0a0; 
}
.Comment_by_user{
	margin-top: 15px;
}
.individual_comment{
	margin-bottom: 30px;
}
.Comments{
	margin-left: 2%;
}
.search_Text_box{

}
.last_child{
	margin-bottom: 2px;
}
.first_child{
	padding-bottom: 10px;
	border-bottom: 1px solid #dedede;
}